* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: MicrosoftJhengHei;
}

html {
  font-size: 12px;
}

input,
button {
  border: none;
  background: none;
}

.big-wrapper {
  padding: 100px 33% 60px 33%;
}

.wrapper {
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 45px 42px 38px 42px;
}

.yellow-bar {
  background: #fad312;
  width: 100%;
  height: 8px;
}

.form__info__title {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: MicrosoftJhengHei;
}

.form__info__date-time {
  margin-top: 25px;
  margin-bottom: 13px;
  line-height: 1.8rem;
}

.form__info__must-write {
  color: #e74149;
  font-size: 14px;
}

.form__info {
  margin-bottom: 35px;
}

.question {
  font-size: 18px;
  font-family: MicrosoftJhengHei;
  font-weight: normal;
}

.required:after {
  content: " *";
  color: #e74149;
  font-size: 15px;
  vertical-align: top;
}

.form__question__short-answer {
  margin-top: 43px;
}

.form__question__short-answer:last-child {
  margin-bottom: 43px;
}

.answer {
  border: solid 1px #d0d0d0;
  width: 200px;
  padding: 2px;
}

.answer::placeholder {
  color: #afafaf;
  font-size: 15px;
}

.select-input {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.select-label {
  margin-left: 20px;
}

.form__question__sign-up-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
}

.sign-up-type__text {
  display: flex;
  margin-top: 14px;
  font-size: 13px;
}

input[type="radio"] {
  margin-left: 0;
}

input[type="radio"] + label {
  margin-left: 2px;
}

.advice {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  padding: 8px 27px;
  border-radius: 3px;
  background: #fad312;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  /* transition: background 0.3s; */
  margin-top: 8px;
}

.button:hover {
  background: #e9c510;
}

.button:active {
  background: #d2b10e;
}

.alert {
  font-family: MicrosoftJhengHei;
  font-size: 12px;
}

.footer {
  padding: 20px 40px;
  background: black;
  color: #999999;
  font-family: MicrosoftJhengHei;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}

.should-check__alert {
  display: flex;
  color: #e74149;
  font-family: MicrosoftJhengHei;
  font-size: 12px;
  align-items: center;
  max-height: 14px;
  margin-top: 14px;
}

.should-radio__alert {
  display: flex;
  color: #e74149;
  font-family: MicrosoftJhengHei;
  font-size: 12px;
  align-items: center;
  max-height: 14px;
  margin-top: 14px;
}

.text-answer__alert {
  border: 1px solid #e74149;
}

.should-check__alert > img {
  height: 16px;
  margin-right: 8px;
}

.should-radio__alert > img {
  height: 16px;
  margin-right: 8px;
}

.hide {
  display: none;
}

@media (max-width: 1043px) {
  .big-wrapper {
    padding: 80px 20% 40px 20%;
  }
}

@media (max-width: 480px) {
  .big-wrapper {
    padding: 0 0 0 0;
  }
}
